@use "projectColors" as *;
// general stylings for flex and grid containers

.grid-container {
    background-color: $projectColorLightGrey;
    padding: 20px;
}

.nav-bar-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around; 
    align-items: center;
    color: $projectColorWhite;
    background-color: $projectColorDarkPink; 
    padding: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.layer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.icons .layer a .material-icons .icon-text{
    display: flex; /* Add this line to enable flexbox for the icons */
    flex-direction: row; /* Ensure the icons are arranged in a row */
    justify-content: space-between; /* Optional: Adjust spacing between icons */
    align-items: center; /* Optional: Align items vertically centered */
}

.nav-bar-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons .layer {
    display: flex;
    justify-content: space-around; /* Ensure even spacing between icons */
    width: 100%; /* Ensure the icons take full width */
    flex-direction: row;
}
