@use "projectColors" as *;
// general stylings for flex and grid containers

.nav-bar-flex {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content:space-between; 
    color: $projectColorWhite;
    background-color: $projectColorDarkPink; 
    padding: 20px;
}
.box {
    flex: 0 0 30%; /* Adjust width to fit four boxes per line */
    margin: 10px; /* Add margin for spacing */
    height: 25px;
    background-color: $projectColorDarkPink; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: $projectColorWhite;
}

.grid-container {
    background-color: $projectColorLightGrey;
    padding: 20px;
}