@use "projectColors" as *;
// nav bar icon styling

$fontSizeIcon: 75px;
$fontSizeIconSmall: 55px;
$fontSizeIconText: 20px;

.material-icons {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 75px;
  }

  .layer {
    width: 100%;
    transition: transform 0.3s;
    position: relative; /* Added for positioning text */
  }

.layer a {
    display: flex;
    flex-direction: column; /* Stack icon and text */
    align-items: center; /* Center align */
    text-decoration: none; /* Remove underline */
    flex: 1;
  }

// .layer a .material-icons{
    // width: $fontSizeIcon;
    // height: $fontSizeIcon; 
    // transition: transform 0.3s;
// }

@media (hover: hover) {
    .layer a .material-icons:hover  {
    transform: rotate(-35deg) skew(20deg);
    color: $projectIconHoverColor;
    }
}

.icon-text {
    display: none; /* Initially hide text */
    font-size: $fontSizeIconText; /* Adjust font size */
    margin-top: 5px; /* Space between icon and text */
  }

  .layer a:hover .icon-text {
    display: block; /* Show text on hover */
    color: $projectIconHoverColor;
  }
  
.material-icons a .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

 .layer .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    // font-size: $fontSizeIcon;  /* Preferred icon size 24px */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  