@use "projectColors" as *;
@use "fontSizes" as *;

// styling for media queries 

// css for mobile phone - iphone 13 pro 390px width

//7 Flexbox styling 

@media (max-width: 390px) {
.nav-bar-flex {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    flex-direction: column;
    color: $projectColorWhite;
    background-color: $projectColorDarkPink; 
    padding: 20px;
    color: $projectColorWhite;
    font-size: $fontSizeFlexMobile;
    }
} 

@media (any-hover: hover) {
    a:hover {
        color: $projectColorBlueViolet;
    }
}

//Grids styling

@media (max-width: 390px) {
.header-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: $projectColorDarkPink; 
    width: 100%;
    font-size: $fontSizeGridMobile;
    }

.photo {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    }

.header-text {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
    }

.intro-text {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 3fr;
    }
}

@media (max-width: 390px) {
.grid-container  { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    @include fontSizes.font-size;
    background-color: $projectColorLightGrey;
    width: 100%;
    }

.education {  // 1st child 
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%; 
    padding: 20px;
    }

.softwear-skills { // 2nd child 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    padding: 20px; 
    }

.work { // 3rd child 
    grid-column: 1 / 2;
    grid-row: 3 / 4 ;
    width: 75%;
    padding: 20px;
    }

.skills { // 4th child 
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 100%;
    padding: 20px;
    }
  
.languages { // 5th child 
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    width: 100%;
    padding: 20px;
    }

.video { // 6th child 
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    width: 100%;
    padding: 20px;
    }

.contact-me { // 7th child 
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    width: 100%;
    padding: 20px;
    }

.follow-me { // 8th child 
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    width: 100%;
    padding: 20px;
    }
}
