// sass styling - colour palette

$projectColorWhite: white;
$projectColorDirtyWhite: rgb(200,200,200);
$projectColorLightGrey: rgb(225, 225, 225);
$projectColorDarkGrey: rgb(79, 78, 78);
$projectColorLightPink: #BB8588;
$projectColorDarkPink: #af6b6e;
$projectColorBlueViolet: blueviolet;
$projectColourBlueGreen: #0b888f;


