// sass styling - colour palette

$projectColorWhite: white;
$projectColorDirtyWhite: rgb(200,200,200);
$projectColorLightGrey: rgb(225, 225, 225);
$projectColorDarkGrey: rgb(79, 78, 78);
$projectColorLightPink: #BB8588;
// $projectColorDarkPink: #af6b6e;
$projectColorDarkPink: #864648;
$projectColorBlueViolet: rgb(255, 0, 89);
$projectColourBlueGreen: #0b888f;
$projectIconHoverColor: rgb(255, 0, 89);


