// sass styling - colour palette

$projectColorWhite: white;
$projectColorDirtyWhite: rgb(200,200,200);
$projectColorLightGrey: rgb(225, 225, 225);
$projectColorDarkGrey: rgb(107, 107, 107);
$projectColorLightPink: #BB8588;
$projectColorDarkPink: #af6b6e;
$projectColorBlueViolet: blueviolet;

