* {
  box-sizing: border-box;
}

.grid-container {
  background-color: rgb(225, 225, 225);
  padding: 20px;
}

.nav-bar-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #864648;
  padding: 20px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.layer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.icons .layer a .material-icons .icon-text {
  display: flex; /* Add this line to enable flexbox for the icons */
  flex-direction: row; /* Ensure the icons are arranged in a row */
  justify-content: space-between; /* Optional: Adjust spacing between icons */
  align-items: center; /* Optional: Align items vertically centered */
}

.nav-bar-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons .layer {
  display: flex;
  justify-content: space-around; /* Ensure even spacing between icons */
  width: 100%; /* Ensure the icons take full width */
  flex-direction: row;
}

body {
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 16px;
}

@media (max-width: 390px) {
  .flex {
    font-size: 16px;
  }
  .grid {
    font-size: 12px;
  }
}
@media (min-width: 1280px) {
  .flex {
    font-size: 30px;
  }
  .grid {
    font-size: 22px;
  }
}
.material-icons {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 75px;
}

.layer {
  width: 100%;
  transition: transform 0.3s;
  position: relative; /* Added for positioning text */
}

.layer a {
  display: flex;
  flex-direction: column; /* Stack icon and text */
  align-items: center; /* Center align */
  text-decoration: none; /* Remove underline */
  flex: 1;
}

@media (hover: hover) {
  .layer a .material-icons:hover {
    transform: rotate(-35deg) skew(20deg);
    color: rgb(255, 0, 89);
  }
}
.icon-text {
  display: none; /* Initially hide text */
  font-size: 20px; /* Adjust font size */
  margin-top: 5px; /* Space between icon and text */
}

.layer a:hover .icon-text {
  display: block; /* Show text on hover */
  color: rgb(255, 0, 89);
}

.material-icons a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.layer .material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

@media (max-width: 390px) {
  .nav-bar-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    color: white;
    background-color: #864648;
    padding: 20px;
    color: white;
    font-size: 16px;
  }
}
@media (max-width: 390px) {
  .layer a .material-icons {
    font-size: 55px;
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
    display: block; /* Show text on hover */
  }
}
@media (any-hover: hover) {
  a:hover {
    color: rgb(255, 0, 89);
  }
}
@media (max-width: 390px) {
  .header-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #864648;
    width: 100%;
    font-size: 12px;
  }
  .photo {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
  }
  .header-text {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
  }
  .intro-text {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 3fr;
  }
}
@media (max-width: 390px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    background-color: rgb(225, 225, 225);
    width: 100%;
  }
  .education {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    padding: 20px;
  }
  .softwear-skills {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    padding: 20px;
  }
  .work {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 75%;
    padding: 20px;
  }
  .skills {
    grid-column: 1/2;
    grid-row: 4/5;
    width: 100%;
    padding: 20px;
  }
  .languages {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 100%;
    padding: 20px;
  }
  .video {
    grid-column: 1/2;
    grid-row: 6/7;
    width: 100%;
    padding: 20px;
  }
  .contact-me {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 100%;
    padding: 20px;
  }
  .follow-me {
    grid-column: 1/2;
    grid-row: 8/9;
    width: 100%;
    padding: 20px;
  }
}
@media (min-width: 1280px) {
  .nav-bar-flex {
    display: flex; /* Stack icon and text */
    align-items: center; /* Center align */
    text-decoration: none; /* Remove underline */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    color: white;
    background-color: #864648;
    padding: 20px;
    color: white;
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
  .layer a .material-icons {
    font-size: 75px;
    width: 75px;
    height: 75px;
    transition: transform 0.3s;
    display: block; /* Show text on hover */
  }
}
@media (min-width: 1280px) {
  .header-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    background-color: #864648;
    padding: 50px;
    width: auto;
    font-size: 22px;
  }
  .photo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .intro-text {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .header-text {
    grid-column: 2/4;
    grid-row: 1/4;
  }
}
@media (min-width: 1280px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 22px;
    background-color: rgb(225, 225, 225);
    width: auto;
  }
  .education {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    padding: 20px;
  }
  .softwear-skills {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    padding: 20px;
    margin-left: 80px;
  }
  .work {
    grid-column: 1/2;
    grid-row: 2/5;
    width: 75%;
    padding: 20px;
  }
  .skills {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    padding: 20px;
    margin-left: 80px;
  }
  .languages {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    padding: 20px;
    margin-left: 80px;
  }
  .video {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 100%;
    padding: 20px;
    margin-left: 80px;
  }
  .contact-me {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 100%;
    padding: 20px;
  }
  .follow-me {
    grid-column: 2/3;
    grid-row: 5/6;
    width: 100%;
    padding: 20px;
    margin-left: 80px;
  }
}
body {
  font-size: 16px;
}

header {
  color: white;
  background-color: #864648;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.photo {
  border-radius: 75%;
}

.header-grid { /*header gradiant styling */
  background: linear-gradient(rgb(200, 200, 200), #864648);
}

.about-me, .title {
  text-align: center;
  color: white;
}

.resume, .name, .title {
  color: white;
}

.name {
  padding-top: 50px;
}

.logo-skills {
  padding-left: 50px;
}

p, li, td {
  color: rgb(79, 78, 78);
}

a {
  color: rgb(255, 0, 89);
}

caption {
  font-size: 150%;
  font-weight: bold;
  color: #864648;
  text-align: left;
  padding-left: 20px;
}

.special, h2, h3 {
  color: #864648;
}

a {
  color: white;
}

section > a {
  color: rgb(79, 78, 78);
}

tr, td {
  border: 2px solid rgb(200, 200, 200);
}

table {
  width: 100%;
}

td {
  width: auto;
  padding: 5px;
}

tbody {
  padding: 5px;
}

@media (any-hover: hover) {
  a:hover {
    color: rgb(255, 0, 89);
  }
}/*# sourceMappingURL=index.css.map */