@use "partials/projectColors" as *;
@use "partials/reset" as *;
@use "partials/generalFlexGrid" as *;
@use "partials/mediaQmobile" as *;
@use "partials/mediaQLaptop" as *;
@use "partials/fontSizes" as font-size;
@use "partials/icons" as *;

// sass styling

body {
    font-size: font-size.$fontSizeBody;
}

header {
    color: $projectColorWhite;
    background-color: $projectColorDarkPink;
    width: 100%;
    height: 100%;
    padding: 20px;
}

// photo styling
.photo {
    border-radius: 75%;
}

// class styling
.header-grid { /*header gradiant styling */
    background: linear-gradient($projectColorDirtyWhite, $projectColorDarkPink); 
}

.about-me, .title  {
    text-align: center;
    color: $projectColorWhite;
}

.resume, .name, .title {
    color: $projectColorWhite;
}

.name {
    padding-top: 50px;
}

// general styling
p, li, td {
    color: $projectColorDarkGrey;
}

a {
    color: $projectColorBlueViolet;
}

caption {
    font-size: 150%;
    font-weight: bold;
    color: $projectColorDarkPink;
    text-align: left;
    padding-left: 20px;
}

.special, h2, h3 {
    color: $projectColorDarkPink;
}

a {
    color: $projectColorWhite;
}

section > a {
    color: $projectColorDarkGrey;
}

// table styling
tr, td {
    border: 2px solid $projectColorDirtyWhite;}

table {
    width: 100%;
}

td {
    width: auto;
    padding: 5px;
}

tbody {
    padding: 5px;
}

// hover styling
@media (any-hover: hover) {
    a:hover {
        color: $projectColorBlueViolet;
    }
}


// .layer {
    // display: flex;
    // flex-direction: row;
// }


